<br/>
<div class="double">
  <form id="addUserForm" #userForm="ngForm" (ngSubmit)="onSubmit(user)">
    <div class="form-group form-inline">
      <label>First Name</label>
      <input type="text" #firstName="ngModel" placeholder="First Name" required class="form-control" minlength="5"
             [class.is-invalid]="firstName.invalid && firstName.touched" name="firstName" [(ngModel)]="user.firstName"
             autocomplete="off">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>
    </div>

    <div class="form-group form-inline">
      <label>Last Name</label>
      <input type="text" #lastName="ngModel" placeholder="Last Name" required class="form-control" minlength="5"
             [class.is-invalid]="lastName.invalid && lastName.touched" name="lastName" [(ngModel)]="user.lastName"
             autocomplete="off">
      <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
    </div>
    <div class="form-group form-inline">
      <label>Employee Id</label>
      <input type="text" (keypress)="numberOnly($event)" #employeeId="ngModel" placeholder="Employee Id" required
             class="form-control" pattern="[0-9]*" minlength="1"
             [class.is-invalid]="employeeId.invalid && employeeId.touched" name="employeeId"
             [(ngModel)]="user.employeeId" autocomplete="off">
      <small class="text-danger" [class.d-none]="employeeId.valid || employeeId.untouched">Employee Id is required
      </small>
      <small class="text-danger" [class.d-none]="errorMessage === ''">{{errorMessage}}
      </small>
    </div>

    <button id="submit" class="btn btn-primary" [hidden]="isEdit" [disabled]="userForm.form.invalid" type="submit">Add</button>
    <button id="reset" class="btn btn-secondary" [hidden]="isEdit" type="reset">Reset</button>
    <button id="update" class="btn btn-primary" [hidden]="!isEdit" [disabled]="userForm.form.invalid" type="submit">Update</button>
    <button id="cancel" class="btn btn-secondary" [hidden]="!isEdit" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
<br/>
<div class="double">
  <div class="row col-xs-12" >
  <div class="col-xs-3"><input type="text" placeholder="Search User" [(ngModel)]="userSearchText" name="userSearchText" class="form-control" id="userSearchText"></div>
  <div class="col-xs-3"><label>Sort:</label></div>
  <div class="col-xs-3"><button type="button" [ngClass]="{
            'green' : sortColumn === 'firstName' && sortIndicator,
            'red' : sortColumn === 'firstName' && !sortIndicator
         }" class="sortButton glyphicon glyphicon-check" (click)="sortUsers('firstName')">First Name</button></div>
  <div class="col-xs-3"><button type="button" [ngClass]="{
            'green' : sortColumn === 'lastName' && sortIndicator,
            'red' : sortColumn === 'lastName' && !sortIndicator
         }" class="sortButton glyphicon glyphicon-check" (click)="sortUsers('lastName')">Last Name</button></div>
  <div class="col-xs-3"><button type="button" [ngClass]="{
            'green' : sortColumn === 'employeeId' && sortIndicator,
            'red' : sortColumn === 'employeeId' && !sortIndicator
         }" class="sortButton glyphicon glyphicon-check" (click)="sortUsers('employeeId')">Employee Id</button></div>
  </div>
  <table id="viewuser" class="table table-hover">
    <thead>
    <tr>
      <th>Employee Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let indUser of users | usersearch : userSearchText | usersort : sortColumn : sortIndicator">
      <td>{{ indUser.employeeId }}</td>
      <td>{{ indUser.firstName }}</td>
      <td>{{ indUser.lastName }}</td>
      <td>
        <button type="button" class="glyphicon glyphicon-check" (click)="editUserPopulate(indUser)">Edit</button>
      </td>
      <td>
        <button type="button" class="glyphicon glyphicon-check" (click)="deleteUser(indUser)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
